[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_bin

## settings for CDC: start
#server_id = 1
#log_bin = mysql-bin
#binlog_format = ROW
#expire_logs_days = 1
#default_authentication_plugin = mysql_native_password
# settings for CDC: end

[client]
default-character-set = utf8mb4
