services:

##############################
# monitored servers
##############################

  webapp-webui:
    container_name: webapp-webui
    hostname: webapp-webui
    build:
      context: .
      dockerfile: Dockerfile-webui
    image: webapp/webui:latest
    ports:
      - 8181:8181
    networks:
      - internal
      - external
    working_dir: /webui
    command:
      - /bin/bash
      - -c
      - |
        java \
          -jar build/libs/apisl.handson.rollingdice.webapp.webui-0.0.1-SNAPSHOT.jar \
          --management.otlp.metrics.export.enabled=false --otel.sdk.disabled=true
    env_file:
      - .env-webapp
    environment:
      PYROSCOPE_APPLICATION_NAME: webapp-webui
    tty: true

  webapp-webapi:
    container_name: webapp-webapi
    hostname: webapp-webapi
    build:
      context: .
      dockerfile: Dockerfile-webapi
    image: webapp/webapi:latest
    ports:
      - 8182:8182
    networks:
      - internal
      - external
    working_dir: /webapi
    command:
      - /bin/bash
      - -c
      - |
        java \
          -jar build/libs/apisl.handson.rollingdice.webapp.webapi-0.0.1-SNAPSHOT.jar \
          --management.otlp.metrics.export.enabled=false --otel.sdk.disabled=true
    env_file:
      - .env-webapp
    environment:
      PYROSCOPE_APPLICATION_NAME: webapp-webapi
    tty: true

  webapp-mysql:
    hostname: webapp-mysql
    container_name: webapp-mysql
    image: mysql:8.0
    ports:
      - 3306:3306
    networks:
      - internal
      - external
    volumes:
      - ./mysql/config/my.cnf:/etc/mysql/conf.d/my.cnf:ro
      - ./mysql/init:/docker-entrypoint-initdb.d:ro
    command: mysqld
    env_file:
      - .env-webapp-mysql
#    logging:
#      driver: loki
#      options:
#        loki-url: http://localhost:3100/loki/api/v1/push

##############################
# networks
##############################

networks:
  internal:
    name: intra-net
    driver: bridge
    internal: true
  external:
    name: hands-net
    driver: bridge
