<head>
<title>WebApp - Roll a dice</title>
<link rel="stylesheet" type="text/css" href="../static/css/font.css" th:href="@{/css/font.css}">
<link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
<th:block th:if="${dice} == null or ${dice} != '0'"><link rel="stylesheet" type="text/css" href="../static/css/table-stripe.css" th:href="@{/css/table-stripe.css}"></th:block>
<script src="../static/script/main.js" th:src="@{/script/main.js}"></script>
<script src="../static/script/faro.js" th:src="@{/script/faro.js}"></script>
</head>
