        <ol id="menu-roll">
			<li class="li-spacing"><a th:href="${cUrl}">Roll normally</a></li>

			<li><span class="negation">Sleep 5 sec at API</span></li>
			<li><span class="negation">Sleep 15 sec at API</span></li>
			<li class="li-spacing"><span class="negation">Sleep 30 sec at API</span></li>

			<li><span class="negation">Loop 5 sec at API</span></li>
			<li><span class="negation">Loop 15 sec at API</span></li>
			<li class="li-spacing"><span class="negation">Loop 30 sec at API</span></li>

			<li class="li-spacing"><span class="negation">Trigger 5xx error at API</span></li>

			<li class="li-spacing">
				<div class="compact-wrapper"><span class="negation">Force specific value</span>
					<div class="force-val-container slider-row">
						<span class="negation">0</span>
						<input type="range" id="dice-slider" th:value="${dice}" min="0" max="7" step="1" list="eyelist" disabled>
						<span class="negation">7</span>
						<datalist id="eyelist">
							<option value="0"></option>
							<option value="1"></option>
							<option value="2"></option>
							<option value="3"></option>
							<option value="4"></option>
							<option value="5"></option>
							<option value="6"></option>
							<option value="7"></option>
						</datalist>
					</div>
					<div class="force-val-container button-row">
						<a id="dice-link" class="dice-btn disabled-link">
							<span class="negation">Roll with:</span>
							<img id="dice-preview" th:src="'/image/dice32_' + ${dice} + '.png'">
						</a>
					</div>
				</div>
			</li>

			<li><span class="negation">RUM Simulation at Browser</span>
				<ul class="sub-menu-list">
					<li><span class="negation">Trigger JS error</span></li>
					<li><span class="negation">Fetch API: Normal</span></li>
					<li><span class="negation">Fetch API: Sleep 2 sec</span></li>
				</ul>
			</li>






		</ol>
