
# .gitlab-ci.yml (メイン)
stages:
  - launchers

# 1. ビルド・リリースパイプラインの起動ボタン
trigger-build-release:
  stage: launchers
  trigger:
    include: .gitlab-ci/build-release.yml
    strategy: depend
  when: manual

# 2. デプロイパイプラインの起動ボタン
trigger-deploy:
  stage: launchers
  trigger:
    include: .gitlab-ci/deploy.yml
    strategy: depend
  when: manual
