
# 実行環境の指定
image: alpine:latest

stages:
  - deploy

# デプロイジョブ
deploy_job:
  stage: deploy
  variables:
    GIT_STRATEGY: none
    # ▼ ハンズオン用にここに記述します（本番ではSettings>CI/CD>Variablesへ移動推奨）
    ANSIBLE_SERVER_HOST: "ansible"      # AnsibleサーバーのIP
    ANSIBLE_SERVER_USER: "root"         # ログインユーザー
    ANSIBLE_SERVER_PASSWORD: "password" # ログインパスワード
  before_script:
    - apk add --no-cache openssh-client sshpass
    # 2. ホストキー確認の無効化（yes/noを聞かれないようにする）
    - mkdir -p ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  script: |
    echo "--- START: Trigger Ansible Playbook via Password Auth ---"
    sshpass -p "$ANSIBLE_SERVER_PASSWORD" ssh $ANSIBLE_SERVER_USER@$ANSIBLE_SERVER_HOST "
      echo '--- 0. Display a hostname and variable ---'
      hostname
      echo \"$CI_JOB_TOKEN\"
      echo '--- 1. Deploying WebAPI ---'
      ansible-playbook \
        -i /root/ansible/playbook/inventory_webapi.ini \
        /root/ansible/playbook/deploy_webapi-from_gitl.yml \
        -e \"ci_job_token=$CI_JOB_TOKEN\"
    "
    echo "--- END: Ansible Playbook Finished ---"
