server:
  port: 8182

spring:
  application:
    name: webapi-app-yml
  profiles:
    active: prod 

  datasource:
#    url: jdbc:mysql://webapp-mysql:3306/hands_on_db
    username: mywebapp
    password: mypass
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true

app:
  # Origins that allow CORS (specify the URLs where Faro runs)
  cors:
    allowed-origins: http://localhost:8181,http://127.0.0.1:8181

# variables for spring-boot-starter-actuator
management:
  endpoint:
    env:
      show-values: always
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus,info,env
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
  tracing:
    sampling:
      probability: 1.0
  otlp:
    metrics:
      export:
        url: http://otel-collector:4318/v1/metrics
        step: 5s
        resourceAttributes:
          service.name: webapp-webapi
          service.instance.id: webapp-webapi:8182
#    logging:
#      endpoint: http://otel-collector:4318/v1/logs
#    tracing:
#      endpoint: http://otel-collector:4318/v1/traces

# variables for 'io.opentelemetry.instrumentation:opentelemetry-spring-boot-starter'
otel:
  exporter:
    otlp:
      endpoint: http://otel-collector:4318
  service:
    name: webapp-webapi
  log:
    level: debug
